.selectize-control {
   margin-bottom: 0.7em;
}

.selectize-control.single .selectize-input, .selectize-dropdown.single {
   border: 1px solid rgba(135, 135, 135, .3);
   box-shadow: none;
   background: #fff;
}
.selectize-control.single .selectize-input, .selectize-control.single .selectize-input input,.selectize-dropdown .optgroup-header, .selectize-dropdown .option {
   padding: 11.5px 15px;
   border-radius: 4px;
   cursor: pointer;
}
.selectize-dropdown, .selectize-input, .selectize-input input {
   font-size: inherit;
}